.Footer {
  display: flex;
  gap: 80px;
}
.fmain p {
  color: gray;
}
.fmain {
  display: flex;
  margin-left: 200px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 70px;
  border-top: 1px solid gray;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 100px;
}
@media screen and (max-width: 1250px) {
  .fmain {
    margin-left: 50px;
    margin-right: 50px;
    gap: 30px;
  }
}
@media screen and (max-width: 626px) {
  .fmain {
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
  }
  .Footer {
    gap: 10px;
  }
}
.Footer a {
  text-decoration: none;
  color: gray;
}
.Footer p {
  color: rgba(255, 255, 255, 0.364);
  font-size: 14px;
}
.Footer a:hover {
  color: #0d7377;
}
