.skills {
  color: white;
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
}
.skills p {
  color: gray;
}
.logosMain {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 40px;
}

.logosMain h1 {
  min-width: 200px;
  font-size: 28px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  border-top: 2px solid rgba(128, 128, 128, 0.416);
  padding-bottom: 20px;
  padding-top: 30px;
}
.logos img {
  height: 150px;
  width: 150px;

  object-fit: cover;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.53);
    box-shadow: 0px 0px 20px 10px rgba(222, 232, 232, 0.2);
  }
}

@media screen and (max-width: 1247px) {
  .skills {
    margin-left: 100px;
    margin-right: 100px;
  }
  .logos img {
    height: 100px;
    width: 100px;
  }
  .logos h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 898px) {
  .skills {
    margin-left: 40px;
    margin-right: 40px;
  }
  .logos {
    gap: 10px;
  }
  .logos img {
    height: 80px;
    width: 80px;
  }
}
@media screen and (max-width: 571px) {
  .logos h1 {
    display: none;
  }
}
